@import url('https://fonts.googleapis.com/css?family=Lemonada|Roboto+Condensed');

body {
  background: #d5e8da !important;
  padding: 20px;
  -webkit-font-smoothing: antialiased;
}

    header {
      background: linear-gradient(180deg, #a2d89e, #576057);
      text-align: center;
      overflow: hidden;
      padding: 10px;
      min-height: 20vh;
      border-radius: 5px;
    }
      header .campaign-name {
        padding-top: 20px;
        font-size: 50px;
        color: #000;
        text-transform: uppercase;
        display: block;
        font-family: 'Lemonada', cursive;
      }
      header .introduction{
        font-size: 20px;
        color: white;
        display: block;
        font-family: 'Roboto Condensed', sans-serif;
      }

    footer{
      background-color: #c5e0c5;
      color: #4e564e;
      height: 2em;
      font-size: 20px;
      padding-top: 10px;
      border-radius: 5px;
      font-family: 'Roboto Condensed', sans-serif;
    }

    [data-notify="icon"], [data-notify="message"] {
      font-size: 30px;
    }

    .ui-progressbar .ui-widget-header{
      background: rgba(51, 109, 47, 0.8);
      border: 1px solid #DDDDDD;
      color: #333333;
      font-weight: bold;
    }
    #progress-bar{
      margin: 20px 0;
      height: 50px;
      position: relative;
    }
      .progress-label {
        position: absolute;
        right: 45%;
        font-weight: bold;
        font-size: 20px;
        text-shadow: 1px 1px 0 #fff;
        transform: translateY(10px);
      }
    
    #loader{
      width: 150px;
      height: 150px;
      margin: 0 auto;
      border: 16px solid #f3f3f3;
      border-top: 16px solid rgba(29, 66, 45, 0.9);
      border-radius: 50%;
      width: 120px;
      height: 120px;
      position: relative;
      top: 5vh;
      animation: spin 3s linear infinite;
    }
    @keyframes spin {
      0%{
        transform: rotate(0deg);
      }
      100%{
        transform: rotate(360deg);
      }
    }

    .grid {
      min-height: 100vh;
    }
      .grid .col-md-4 .item {
        opacity: 1;
        background-color: rgba(29, 66, 45, 0.9);
        margin-bottom: 30px;
        border-radius: 5px;
        padding: 10px;
      }
      /*Animation*/
        .grid .item .contributor {
              display: inline-flex; 
            }
              .grid .item .contributor .contributor-avatar {
                margin: 5px; 
                height: 100px;
                width: 100px;
              }
              .grid .item .contributor .contributor-name {
                margin: 5px;
                font-size: 30px;
                color: #d4e2d3;
                padding-left: 8px; 
                font-family: 'Roboto Condensed', sans-serif;
                font-weight: bold;
              }
        .grid .item .contribution-body {
          border: 1px white solid;
          margin: 5px;
          text-align: center;
          color: #d4e2d3;
          font-family: 'Roboto Condensed', sans-serif; 
        }
          .grid .item .contribution-body .contributed {
            display: block;
            font-size: 40px; 
          }
          .grid .item .contribution-body .contributor-amount {
            display: block;
            font-size: 75px;
            color: #eefced; 
          }
        .grid .item .created-at{
          display: block;
          color: #d4e2d3;
          font-size: 20px;
        }

  @media screen and (max-width: 500px){
    .grid .item .contribution-body .contributor-amount{
      font-size: 70px;
    }
    .grid .item .contribution-body .contributed,
    .grid .item .contributor .contributor-name{
      font-size: 25px;
    }
    .grid .item .contributor .contributor-avatar {
      height: 80px;
      width: 80px;
    }
    #top-notification{
      font-size: 30px;
    }
    [data-notify="icon"], [data-notify="message"] {
      font-size: 20px;
    }
  }
